<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        
        <div class="col-md-10 mx-auto col-lg-5">
            <form [formGroup]="registerForm" (ngSubmit)="register()" class="p-4 p-md-5 border rounded-3 bg-light" data-bitwarden-watching="1">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="username" id="floatingInput" placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" formControlName="email" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" formControlName="password" id="floatingInput" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" formControlName="repeatPassword" id="floatingInput" placeholder="Password">
                    <label for="floatingPassword">Repeat Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <hr class="my-4">
                <small class="text-muted"><a [routerLink]="['/account/login']">I have an account</a></small>
            </form>
        </div>
    </div>
</div>